{% autoescape true %}
<html lang="en">
  <head>
    <title>QnA</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>QnA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a class="btn btn-primary pull-right" href="{{ url }}">{{ url_linktext }}</a>
        </div>
      </div>
    </div>
    <div class="container">
      {% if question %}
      <h3>Edit Question</h3>
      {% else %}
      <h3>Add a new Question</h3>
      {% endif %}
      <form action="/AddQuestion" method="post">
        <div class="form-group">
          	<label class="col-sm-2 control-label">Title</label>
          	<div class="col-sm-10">
          	<input type="text" name="name" class="form-control" {% if question %}value="{{question.name}}" {% endif %}>
			</div>
			
	        <label class="col-sm-2 control-label">Tags</label>
	        <div class="col-sm-10">
	          <div class="checkbox">
	            <input type="checkbox" value="Arts and Design" name="tags" {% if question and "Arts and Design" in question.tags %}checked{% endif %}>Arts and Design
	            <br>
	            <input type="checkbox" value="Books" name="tags" {% if question and "Books" in question.tags %}checked{% endif %}>Books
	            <br>
	            <input type="checkbox" value="Finance" name="tags" {% if question and "Finance" in question.tags %}checked{% endif %}>Finance
	            <br>
	            <input type="checkbox" value="Food" name="tags" {% if question and"Food" in question.tags %}checked{% endif %}>Food
	            <br>
	            <input type="checkbox" value="Healthcare and Medicine" name="tags" {% if question and "Healthcare and Medicine" in question.tags %}checked{% endif %}>Healthcare and Medicine
	            <br>
	            <input type="checkbox" value="Movies" name="tags" {% if question and "Movies" in question.tags %}checked{% endif %}>Movies
	            <br>
	            <input type="checkbox" value="Music" name="tags" {% if question and "Music" in question.tags %}checked{% endif %}>Music
	            <br>
	            <input type="checkbox" value="Philosophy" name="tags" {% if question and "Philosophy" in question.tags %}checked{% endif %}>Philosophy
	            <br>
	            <input type="checkbox" value="Psychology" name="tags" {% if question and "Psychology" in question.tags %}checked{% endif %}>Psychology
	            <br>
	            <input type="checkbox" value="Science and Technology" name="tags" {% if question and "Science and Technology" in question.tags %}checked{% endif %}>Science and Technology
	            <br>
	            <input type="checkbox" value="Travel" name="tags" {% if question and "Travel" in question.tags %}checked{% endif %}>Travel
	            <br>
	          </div>
          	</div>

          <label class="col-sm-2 control-label">Content</label>
          <div class="col-sm-10">
          	<textarea name="content" class="form-control" rows="5">{% if question %}{{question.content}}{% endif %}</textarea></dd>
		  </div>
		  
          {% if question %}
          <input type="hidden" name="questionID" value="{{question.key.urlsafe()}}">
          <input class="btn btn-sm btn-primary" type="submit" value="Update Question">
          {% else %}
          <input class="btn btn-sm btn-primary" type="submit" value="Post Question">
          {% endif %}
        </div>
      </form>
    </div>
    
  </body>
</html>
  
{% endautoescape %}