{% autoescape true %}
<html lang="en">
  <head>
    <title>QnA</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>QnA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a class="btn btn-primary pull-right" href="{{ url }}">{{ url_linktext }}</a>
        </div>
      </div>
    </div>
    <div class="container">
      {% if answer %}
      <h3>Edit Answer</h3>
      {% else %}
      <h3>Add a new Answer</h3>
      {% endif %}
      <form action="/AddAnswer" method="post">
        <div class="form-group">
          <label class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10"><input type="text" name="name" class="form-control" {% if answer %}value="{{answer.name}}" {% endif %}></div>
          
          <label class="col-sm-2 control-label">Content</label>
          <div class="col-sm-10"><textarea name="content" class="form-control" rows="5">{% if answer %}{{answer.content}}{% endif %}</textarea></div>
          
          <input type="hidden" name="questionID" value="{{question.key.urlsafe()}}">
          
          {% if answer %}
          <input type="hidden" name="answerID" value="{{answer.key.urlsafe()}}">
          <input class="btn btn-sm btn-primary" type="submit" value="Update Answer">
          {% else %}
          <input class="btn btn-sm btn-primary" type="submit" value="Post Answer">
          {% endif %}
        </div>
      </form>
    </div>
    
  </body>
</html>
  
{% endautoescape %}