{% autoescape true %}
<html lang="en">
  <head>
    <title>QnA</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>QnA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a class="btn btn-primary pull-right" href="{{ url }}">{{ url_linktext }}</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div><a href="/" class="btn btn-sm btn-primary">
      	<span class="glyphicon glyphicon-chevron-left"></span>
      	Back</a></div>
      <div class="row">
        <div>
          <h3>{{ question.name }}&nbsp;</h3> 
          <em><small>By {{question.author}}, Created: {{question.createtime}}, Modified: {{question.modtime}}</small></em>
          <p>{% for tag in question.tags %} 
          	<a class="btn btn-xs btn-default active" >{{ tag }}</a> {% endfor %}
          </p>
          <p class="bg-info">{{ question.content | img_inline | safe }}</p>
          <p>
          	<a class="btn btn-xs btn-default" href="/VoteQ?questionID={{question.key.urlsafe()}}&value=true">Up({{ question.ups }})</a>
          	<a class="btn btn-xs btn-default" href="/VoteQ?questionID={{question.key.urlsafe()}}&value=false">Down({{ question.downs }})</a>
          </p>
        </div>
        
        
      	<div>{% if user and user == question.author %}<a class="btn btn-sm btn-primary" href="/AddQuestion?questionID={{question.key.urlsafe()}}">Edit Question</a>
      	{% endif %}
      	
      	<a class="btn btn-sm btn-primary" href="/AddAnswer?questionID={{question.key.urlsafe()}}">Add Answer</a></div>
      	<br>
      </div>
    </div>
    
    <div class="container">
    	{% for answer in answers %}
    	<blockquote>
    	<div class="row">
    	  <h4>{{answer.name}}</h4>
    	  <em><small>By {{answer.author}}, Created: {{answer.createtime}}, Modified: {{answer.modtime}}</small></em>
    	  <p class="bg-info">{{answer.content | img_inline | safe }}</p>
          <p>
          	<a class="btn btn-xs btn-default" href="/VoteA?questionID={{question.key.urlsafe()}}&answerID={{answer.key.urlsafe()}}&value=true">Up({{ answer.ups }})</a>
          	<a class="btn btn-xs btn-default" href="/VoteA?questionID={{question.key.urlsafe()}}&answerID={{answer.key.urlsafe()}}&value=false">Down({{ answer.downs }})</a>
          </p>
          
	      {% if user and user == answer.author %}
	      <div><a class="btn btn-sm btn-primary" href="/AddAnswer?questionID={{question.key.urlsafe()}}&answerID={{answer.key.urlsafe()}}">Edit Answer</a></div>
	      {% endif %}
          
    	</div>
    	</blockquote>
    	{% endfor %}
    </div>
    
  </body>
</html>
  
{% endautoescape %}